{% extends 'Layout/baselogin.twig.html' %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="box-title" style="text-align: center">Iniciar Sesión</h3>
        </div>
    </div>

<form class="form-horizontal" name="form_login" id="form_login" method="POST" action="Login/validar" autocomplete='off' data-toggle="validator">
    
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-users"></i></span>
        <input type="text" class="form-control" id="usuario" name="usuario" value="{{usuario}}" placeholder="DNI" required>
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock">&nbsp;&nbsp;</i></span>
        <input type="password" class="form-control" id="password" name="password" value="{{password}}" placeholder="Contraseña" required>
    </div>
    <br>
    
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
            <label>
                <input type="checkbox" id="remenber" name="remenber" checked="checked"> Recordar
            </label>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <button type="submit" value="Iniciar sesión" class="btn btn-block btn-danger iniciar-sesion"><i class="fa fa-key">&nbsp;</i>Ingresar</button>
        </div>
    </div>
</form>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">

$(document).ready(function(){

    $('#form_login').validator();

    $('#usuario, #password').on("keyup", function(e){
        if(e.keyCode == 13)
        {
            $("#form_login").submit();
        }
    });
});
    

</script>
{% endblock %}